<html>

<head>
<title>DJZ Site</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>



<body>

<div data-role="page" id="home" data-theme="a">

  <!-- Nav Panel -->
  <div data-role="panel" id="overlayPanel" data-display="overlay"> 
    <h2>Navigation</h2>    
    <div data-role="controlgroup" data-type="vertical">
      <p>Vertical group (default):</p>
      <a href="https://www.google.com/" class="ui-btn">Button 1</a>
      <a href="/mobilewebpractice" class="ui-btn">Mobile web Practice</a>
      <a href="#" class="ui-btn">Button 3</a>
    </div>  
    
    
  </div> 

  <!-- Nav Header  -->
  <div data-role="header" data-position="fixed" data-fullscreen="true">
  <a href="#overlayPanel" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc" data-icon="bars" data-iconpos="notext"></a>
  <a href="/" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc" data-icon="home" data-iconpos="notext"></a>
    <h1>D. J. Z.</h1>
  </div><br><br>

{% block content %}
{% endblock %}
  
</div>

</body>

</html>