{% extends "home/base.html" %}
{% block content %}


  <div data-role="main" class="ui-content" >
    <p>Click on the button below to open the Panel.</p>
    <a href="#myPanel" class="ui-btn ui-btn-inline ui-corner-all ui-shadow">Open Panel</a>
    <input type="file" accept="image/*" capture="camera" >

  </div>

  <div data-role="footer">
    <h1>Page Footer <img src="{{ logo }}"></h1>
    <a href="#pagetwo">Go to Page Two</a>
  </div>
  
  
  
</div> 

<div data-role="page" id="pagetwo">
  <div data-role="main" class="ui-content">
    <a href="#pageone">Go to Page One</a>
  </div>



</body>


{% endblock %}