{% load staticfiles %}

<p align="center" style="margin-bottom: 0in; line-height: 100%; page-break-before: always">
<font size="4" style="font-size: 14pt"><b>Dylan Zingler</b></font></p>
<table width="666" cellpadding="4" cellspacing="0">
	<col width="324">
	<col width="326">
	<tr valign="top">
		<td width="324" style="border: none; padding: 0in">
			<p align="center" style="margin-bottom: 0in"><font size="2" style="font-size: 10pt">dylanzingler@gmail.com</font></p>
			<p align="center" style="margin-bottom: 0in"><font size="2" style="font-size: 10pt">3219
			Blackwalnut Drive</font></p>
			<p align="center" style="margin-bottom: 0in"><font size="2" style="font-size: 10pt">Annapolis,
			MD 21403</font></p>
			<p align="center"><font size="2" style="font-size: 10pt">443-822-9002</font></p>
		</td>
		<td width="326" style="border: none; padding: 0in">
			<p align="center"><font size="2" style="font-size: 10pt"><b>Important
			Links</b></font></p>
			<p align="center"><font size="2" style="font-size: 10pt">Github:
			github.com/zinglax</font></p>
			<p align="center"><font size="2" style="font-size: 10pt">LinkedIn:
			linkedin.com/in/dzingler</font></p>
			<p align="center"><font size="2" style="font-size: 10pt">Website:
			dylanzingler.com</font></p>
		</td>
	</tr>
</table>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><font size="2" style="font-size: 10pt"><b>EDUCATION</b></font></p>
<table width="100%" cellpadding="4" cellspacing="0">
	<col width="128*">
	<col width="128*">
	<tr valign="top">
		<td width="50%" style="border: none; padding: 0in">
			<p align="left" style="text-decoration: none"><font size="2" style="font-size: 10pt"><b>Bachelor
			of Science in Computer Science</b></font></p>
		</td>
		<td width="50%" style="border: none; padding: 0in">
			<p align="right"><font size="2" style="font-size: 10pt">Anticipated
			May 2015</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border: none; padding: 0in">
			<p align="left" style="font-weight: normal; text-decoration: none">
			<font size="2" style="font-size: 10pt">University of Maryland
			College Park</font></p>
		</td>
		<td width="50%" style="border: none; padding: 0in">
			<p align="right"><br>
			</p>
		</td>
	</tr>
</table>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><br>
</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><font size="2" style="font-size: 10pt"><b>RELATED
COURSEWORK</b></font></p>
<table width="100%" cellpadding="4" cellspacing="0">
	<col width="128*">
	<col width="128*">
	<tr valign="top">
		<td width="50%" style="border: none; padding: 0in">
			<p><font size="2" style="font-size: 10pt"><b>CMSC 420 Data
			Structures</b></font></p>
		</td>
		<td width="50%" style="border: none; padding: 0in">
			<p align="right"><font size="2" style="font-size: 10pt">Spring
			2014</font></p>
		</td>
	</tr>
</table>
<ul>
	<li><p style="margin-bottom: 0in; line-height: 100%; text-decoration: none">
	<font size="2" style="font-size: 10pt">Learned runtime capabilities
	of various data storage like structures and general formulas to
	calculate runtime.</font></p>
	<li><p style="margin-bottom: 0in; line-height: 100%; text-decoration: none">
	<font size="2" style="font-size: 10pt">Class Project (individual): 
	Required students to read in mock geolocation and road information
	from XML files to generate a graph  The projects goal was to give
	the user GPS like commands to navigate the graph based on
	calculations from Dijkstra's Algorithm</font></p>
	<ul>
		<li><p style="margin-bottom: 0in; line-height: 100%; text-decoration: none">
		<font size="2" style="font-size: 10pt">Data was stored in a
		quadtree structure which maintained a search runtime of O(log(n))</font></p>
		<li><p style="margin-bottom: 0in; line-height: 100%; text-decoration: none">
		<font size="2" style="font-size: 10pt">Debugged using Eclipse and
		J-Unit tests which handled XML input and checked the output with a
		canonical</font></p>
	</ul>
</ul>
<p style="margin-bottom: 0in; line-height: 100%; text-decoration: none">
<br>
</p>
<table width="100%" cellpadding="4" cellspacing="0">
	<col width="128*">
	<col width="128*">
	<tr valign="top">
		<td width="50%" style="border: none; padding: 0in">
			<p><font size="2" style="font-size: 10pt"><b>CMSC 436 Programming
			Hand Held Systems</b></font></p>
		</td>
		<td width="50%" style="border: none; padding: 0in">
			<p align="right"><font size="2" style="font-size: 10pt">Fall 2014</font></p>
		</td>
	</tr>
</table>
<ul>
	<li><p style="margin-bottom: 0in; font-weight: normal; line-height: 100%; text-decoration: none">
	<font size="2" style="font-size: 10pt">Studied the Android Mobile
	Device platform</font></p>
	<ul>
		<li><p style="margin-bottom: 0in; font-weight: normal; line-height: 100%; text-decoration: none">
		<font size="2" style="font-size: 10pt">Learned the runtime
		lifecycle of applications and how to interface with our own
		applications.</font></p>
	</ul>
	<li><p style="margin-bottom: 0in; font-weight: normal; line-height: 100%; text-decoration: none">
	<font size="2" style="font-size: 10pt">Class Project (team):
	Programmed a wine and liquor reviewing/purchasing Android
	application in a team of three people.</font></p>
	<ul>
		<li><p style="margin-bottom: 0in; font-weight: normal; line-height: 100%; text-decoration: none">
		<font size="2" style="font-size: 10pt">Implemented Facebook
		authentication and Parse (Cloud Database) infrastructure to store
		product reviews, user purchase information, and discounts.</font></p>
		<li><p style="margin-bottom: 0in; font-weight: normal; line-height: 100%; text-decoration: none">
		<font size="2" style="font-size: 10pt">Effectively setup and
		managed Git code repository (via Github) for the group</font></p>
	</ul>
</ul>
<p style="margin-bottom: 0in; line-height: 100%"><br>
</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><font size="2" style="font-size: 10pt"><b>EXPERIENCE</b></font></p>
<table width="100%" cellpadding="4" cellspacing="0">
	<col width="128*">
	<col width="128*">
	<tr valign="top">
		<td width="50%" style="border: none; padding: 0in">
			<p align="left" style="text-decoration: none"><font size="2" style="font-size: 10pt"><b>Internship
			at Arinc</b></font></p>
		</td>
		<td width="50%" style="border: none; padding: 0in">
			<p align="right"><font size="2" style="font-size: 10pt">Summer
			2010</font></p>
		</td>
	</tr>
</table>
<ul>
	<li><p align="left" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
	<font size="2" style="font-size: 10pt">Tasked with parsing customer
	configuration files (Python files) with a Python script and
	generating human readable customer documentation page on the teams
	wiki</font></p>
	<ul>
		<li><p align="left" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
		<font size="2" style="font-size: 10pt">Correlated a Python files
		method, function, and class names into which features the customer
		was subscribed to</font></p>
		<li><p align="left" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
		<font size="2" style="font-size: 10pt">Wiki formatted text was
		generated with the features listed and web-page automatically
		generated using a terminal web-browser</font></p>
	</ul>
	<li><p align="left" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
	<font size="2" style="font-size: 10pt">Successfully enabled the
	project customer support staff, and other team members without in
	depth programming knowledge, to determine features for which a user
	was subscribed</font></p>
</ul>
<p align="left" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br>
</p>
<table width="100%" cellpadding="4" cellspacing="0">
	<col width="128*">
	<col width="128*">
	<tr valign="top">
		<td width="50%" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="left"><br>
			</p>
		</td>
		<td width="50%" style="border: 1px solid #000000; padding: 0.04in">
			<p align="left"><br>
			</p>
		</td>
	</tr>
</table>
<p align="left" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
<br>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br>
</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><font size="2" style="font-size: 10pt"><b>SKILLS</b></font></p>
<ul>
	<li><p align="left" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
	<font size="2" style="font-size: 10pt">Very familiar with Linux/Unix
	Operating systems (both Debian and RHEL)</font></p>
	<li><p align="left" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
	<font size="2" style="font-size: 10pt">Web development especially
	with Django and jQuery Mobile</font></p>
	<li><p align="left" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
	<font size="2" style="font-size: 10pt">Strong in Python, Java, and
	Ruby</font></p>
	<li><p align="left" style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
	<font size="2" style="font-size: 10pt">Can work with SQL Databases</font></p>
</ul>
<p style="margin-bottom: 0in; line-height: 100%"><br>
</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%"><font size="2" style="font-size: 10pt"><b>EXTRA
CURRICULARS</b></font></p>
<ul>
	<li><p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
	<font size="2" style="font-size: 10pt">Founding member of the
	University of Maryland Mobile Application Developers (MAD) club</font></p>
	<li><p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
	<font size="2" style="font-size: 10pt">Member of the University of
	Maryland Mens DIII Club Ice Hockey team</font></p>
	<li><p style="margin-bottom: 0in; font-weight: normal; line-height: 100%">
	<font size="2" style="font-size: 10pt">Programming projects using
	the RaspberryPi Linux computer board</font></p>
</ul>


<a href="/" data-role="button">Back</a>
<a href="{% static resume %}" download>Download Resume as PDF</a>