{% extends "storage/base.html" %}
{% block content %}
<h1>Add<h1>


    <script>
	var desiredWidth;
 
    $(document).ready(function() {
        console.log('onReady');
		$("#takePictureField").on("change",gotPic);
		$("#yourimage").load(getSwatches);
		desiredWidth = window.innerWidth;
        
        if(!("url" in window) && ("webkitURL" in window)) {
            window.URL = window.webkitURL;   
        }
		
	});
	
	function getSwatches(){
		var colorArr = createPalette($("#yourimage"), 5);
		for (var i = 0; i < Math.min(5, colorArr.length); i++) {
			$("#swatch"+i).css("background-color","rgb("+colorArr[i][0]+","+colorArr[i][1]+","+colorArr[i][2]+")");
			console.log($("#swatch"+i).css("background-color"));
		}
	}	
	
    //Credit: https://www.youtube.com/watch?v=EPYnGFEcis4&feature=youtube_gdata_player
	function gotPic(event) {
        if(event.target.files.length == 1 && 
           event.target.files[0].type.indexOf("image/") == 0) {
            $("#yourimage").attr("src",URL.createObjectURL(event.target.files[0]));
        }
	}     
    </script>    




<!-- NEW ITEM FORM -->
<form action="/storage/add" method="post" enctype="multipart/form-data">{% csrf_token %}
	<input type="text" name="name" id="name" placeholder="Item Name..." data-clear-btn="true">
	<textarea name="description" id="description" placeholder="Description..." ></textarea>
	
	<input type="file" capture="camera" accept="image/*" id="takePictureField" name='takePictureField'>
	<img name='yourimage' id="yourimage" width="100" height="100">
	
	<input type="text" name="labeltext" id="labeltext" placeholder="Label Text... (Max 50 characters)" data-clear-btn="true">
	<label for="printlabel">Print Label</label>
	<input type="checkbox" name="printlabel" id="printlabel" value="printlabel">
	<input type="submit" data-inline="true" value="Add Item" data-icon="plus" data-iconpos="right">
</form>





{% endblock %}