{% extends "storage/base.html" %}
{% block content %}

<div data-role="content" data-theme="{{ theme }}" class="ui-body ui-corner-all ui-overlay-shadow ui-mini">

<h1>Add<h1>


<!-- NEW ITEM FORM -->
<form action="/storage/add/{{ barcode }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
	<input type="text" name="name" id="name" placeholder="Item Name..." data-clear-btn="true">
	<textarea name="description" id="description" placeholder="Description..." ></textarea>
	
	<input type="submit" data-inline="true" value="Add Item" data-icon="plus" data-iconpos="right">
</form>

</div>

{% endblock %}