<html>

<head>
<title>Storage</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
</head>



<body>

<div data-role="page" id="home" data-theme="a">

  <!-- Nav Panel -->
  <div data-role="panel" id="overlayPanel" data-display="overlay"> 
    <h2>Navigation</h2>    
    <div data-role="controlgroup" data-type="vertical">
      
      {% for page in pages %}
      <a href="{{ page }}" class="ui-btn">{{ page }}</a>
      {% endfor %}

    </div>  
    
    <!-- 
    <h2>Links</h2>
    
    <div data-role="controlgroup" data-type="vertical">
      <a href="https://www.linkedin.com/profile/view?id=266573023&trk=nav_responsive_tab_profile_pic" class="ui-btn">Linkedin</a>
      <a href="https://github.com/zinglax" class="ui-btn">GitHub</a>
      <a href="https://twitter.com/Zinglax" class="ui-btn">Twitter</a>
      <a href="http://mobileappdevelopersclub.com/" class="ui-btn">M.A.D.</a>
      <a href="https://www.facebook.com/dylan.zingler" class="ui-btn">Facebook</a>
      <a href="https://plus.google.com/+DylanZingler/" class="ui-btn">Google+</a>


    </div>
    
    
    
    
    <script src="//platform.linkedin.com/in.js" type="text/javascript">
  lang: en_US
</script>
<script type="IN/FollowCompany" data-id="266573023" data-counter="none"></script> 

-->
    
  </div> 

  <!-- Nav Header  -->
  <div data-role="header" data-position="fixed" data-fullscreen="true">
  <a href="#overlayPanel" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc" data-icon="bars" data-iconpos="notext"></a>
  <a href="/" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc" data-icon="home" data-iconpos="notext"></a>
    <h1>D. J. Z. Storage</h1>
  </div><br><br>

{% block content %}
{% endblock %}
  
</div>

</body>

</html>