<html>
{% load staticfiles %}


<head>
<title>Storage</title>
<link rel="stylesheet" href="{% static "storage/themes/dylan.min.css"%}" />
<link rel="stylesheet" href="{% static "storage/themes/jquery.mobile.icons.min.css"%}" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile.structure-1.4.2.min.css" />
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8">	
<script type="text/javascript" charset="utf-8" src="jquery-2.0.0.min.js"></script>
<script type="text/javascript" charset="utf-8" src="quantize.js"></script>
<script type="text/javascript" charset="utf-8" src="color-thief.js"></script>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.thumbs.js"></script>




	
</head>

<body>

<div data-role="page" id="home" data-theme="d">

   <!-- Nav Header  -->
  <div data-role="header" data-position="fixed" data-fullscreen="true">  
    <a href="/" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc" data-icon="home" data-iconpos="notext"></a>

    <h1>D. J. Z. Storage</h1>
  </div><br><br>

{% block content %}
{% endblock %}

  <!-- Nav Footer  -->
<br><br>
  <div data-role="footer" data-position="fixed" data-fullscreen="true">
  <a href="/storage" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc" data-icon="Tag" data-iconpos="notext"></a>
  <a href="{% url 'search' %}" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc" data-icon="Search" data-iconpos="notext"></a>
  <a href="{% url 'add' %}" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc" data-icon="Plus" data-iconpos="notext"></a>
  <a href="{% url 'prints' %}" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc" data-icon="action" data-iconpos="notext"></a>
  <a href="zxing://scan/?ret=http://foo.com/products/{CODE}/description&SCAN_FORMATS=UPC_A,EAN_13" data-shadow="false" data-iconshadow="false" class="ui-icon-nodisc" data-icon="camera" data-iconpos="notext"></a>


  


</div>

</div>

</body>

</html>