{% extends "storage/base.html" %}
{% block content %}

<div data-role="content" data-theme="{{ theme }}" class="ui-body ui-corner-all ui-overlay-shadow">
<h1>{{ item.name }}</h1>
<p>{{ item.description }}</p>

{% if item.parent %}
<h3>Contained In</h3>
<div data-role="collapsible">
        <h3>{{ item.parent.name }}</h3>
        
        <p>{{ item.parent.description }}</p>
	<a href="/storage/{{ item.parent.barcode }}" class="ui-btn ui-icon-forward ui-corner-all ui-btn-icon-notext">Go To Page</a>
      </div>
{% endif %}


</div>

</br>


<div data-role="content" data-theme="{{ theme }}" class="ui-body ui-corner-all ui-overlay-shadow">
<h2>Contains items</h2>
    <div data-role="collapsibleset">
    
      {% for child in children %}    
    
      <div data-role="collapsible">
        <h3>{{ child.name }}</h3>
        
        <p>{{ child.description }}</p>
	<a href="/storage/{{ child.barcode }}" class="ui-btn ui-icon-forward ui-corner-all ui-btn-icon-notext">Go To Page</a>
      </div>
      
      {% endfor %}
      
    </div>
</div>

</br>

  <div data-role="main" class="ui-content">
    <a href="#myPopup" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all">Update Item Info</a>
    <a href="#delete" data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all">Delete Item</a>

    <div data-role="popup" id="myPopup" class="ui-content">
      <!-- ITEM FORM -->
<form action="/storage/{{ item.barcode }}/" method="post" enctype="multipart/form-data">{% csrf_token %}
	<input type="text" name="name" id="name" value="{{ item.name }}" data-clear-btn="true">
	<textarea name="description" id="description">{{ item.description }}</textarea>
	
	<input type="submit" data-inline="true" value="Update Item" data-icon="plus" data-iconpos="right">
</form>
    </div>
    
    
<div data-role="popup" id="delete" class="ui-content">
      <!-- delete -->
<form method="get" action="/storage/{{ item.barcode }}/">
      <fieldset data-role="controlgroup">
      <legend>Are You Sure You Want To Delete This?</legend>
        <label for="yes">Yes</label>
        <input type="radio" name="yesno" id="yes" value="yes">
        <label for="no">No</label>
        <input type="radio" name="yesno" id="no" value="no">	
      </fieldset>
        <input type="submit" data-inline="true" value="Submit">
    </form>
    </div>    
    
    
  </div>


{% endblock %}