{% extends "storage/base.html" %}
{% block content %}
<h1>Search<h1>

  <div data-role="main" class="ui-content">
  <div data-role="collapsible">
        <h3>Areas</h3>
        <p>Here are all of the Storage Areas</p>
      
    <div data-role="collapsibleset">
    
      {% for item in areas %}    
    
      <div data-role="collapsible">
        <h3>{{ item.name }}</h3>
        
        <p>{{ item.description }}</p>
      </div>
      
      {% endfor %}
      
    </div>
  </div>
  </div>



{% endblock %}