{% extends "storage/base.html" %}
{% block content %}

<div data-role="content" data-theme="{{ theme }}" class="ui-body ui-corner-all ui-overlay-shadow">
<h1>Search<h1>

    <form method="get" action="/storage/search/">
      <div class="ui-field-contain">
        <input type="search" name="search" id="search" placeholder="Search for content...">
      </div>
      <input type="submit" data-inline="true" value="Submit">
    </form> 

{% if results %}
<div data-role="collapsible">
<h1>Results</h1>

<div data-role="collapsibleset">
{% for result in results %}    
<div data-role="collapsible">
  <h3>{{ result.name }}</h3>
  <p>{{ result.description }}</p>
  <a href="/storage/{{ result.barcode }}" class="ui-btn">Go To Page</a>
  
  
</div>

{% endfor %}


</div>
</div>

{% endif %}
</div>

</br>

  <div data-role="collapsible">
        <h3>All Items</h3>
      
    <div data-role="collapsibleset">
    
      {% for item in areas %}    
    
      <div data-role="collapsible">
        <h3>{{ item.name }}</h3>
        
        <p>{{ item.description }}</p>
      </div>
      
      {% endfor %}
      
    </div>
  </div>




{% endblock %}